/** ODEFI Styles */
@import url(https://fonts.googleapis.com/css?family=Lato:400, 400italic, 700|Sansita + One);
:root {
    --secondary-color: #ffffff;
    --font-color: #000000;
    --bg-color: #cccccc;
    /* --bg-color: #1D1E23; */
    --bg-color-menu: #8e3ddf;
    --bg-balance: #0d570d;
    --bg-button-sell: #512380;
    --bg-angle-down: #707070;
    --bg-button-buy-susdt: #8e4c4c;
    --bg-button-confirm-trade: #04c131;
    --bg-tab-active-trade: #59268c;
    --bg-stack-amount: #411c66;
    --color-logo: #ab76df;
    --bg-empow: #59268c;
    --color-search-placeholder: #323750;
    --color-border-line: #bdbdbd;
    --bg-badge-green: #10BA97;
    --bg-badge-red: #D94454;
}

[data-theme="dark"] {
    --secondary-color: #000000;
    --font-color: #000000;
    /* --bg-color: #1d1e23; */
    --bg-color-menu: #3f4044;
    --bg-balance: #0d570d;
    --bg-button-sell: #512380;
    --bg-angle-down: #707070;
    --bg-button-buy-susdt: #8e4c4c;
    --bg-button-confirm-trade: #04c131;
    --bg-tab-active-trade: #2f3033;
    --bg-empow: #2f3033;
    --bg-stack-amount: #3f4044;
    --color-logo: #ab76df;
    --color-pending: #2072ff;
}

html {
    width: 100%;
    height: auto;
    border: 12px solid #000000;
    border-radius: 20px;
}
body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
}
p,
figure,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
.wrap-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.sidebar-left {
    width: 100%;
    padding: 10px;
}
.right-content {
    width: 100%;
    padding: 10px;
}
.right-content .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-content .top .left {
    width: 100%;
}
.right-content .top .right {
    width: 100%;
}
.right-content .bottom {
    width: 100%;
}
/** Sidebar Left */
.sidebar-left .sidebar-content {
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.sidebar-left .filtet-top {
    text-align: center;
}
.sidebar-left .filtet-top .input-search {
    width: 100%;
    border: 1px solid var(--bg-color);
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    color: var(--color-search-placeholder);
}
.sidebar-left .filtet-top .input-search::placeholder {
    color: var(--color-search-placeholder);
}
.sidebar-left .filtet-top .group-button-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar-left .filtet-top .group-button-filter span {
    width: 20%;
    /* height: 40px; */
    color: var(--secondary-color);
    border: 1px solid var(--bg-color-menu);
    background-color: var(--bg-color-menu);
    border-radius: 4px;
    padding: 7px 0;
}
.sidebar-left .filtet-top .group-button-filter span.active {
    background-color: var(--bg-button-sell);
}
.sidebar-left .filtet-top table {
    /* margin-top: ; */
    border-collapse: collapse;
    border-spacing: 0;
}
.sidebar-left .filtet-top table thead th {
    position: relative;
    width: 50%;
    text-align: left;
    font-size: 14px;
    padding: 30px 0 30px 0;
    border-bottom: unset;
    color: var(--font-color);
}
.sidebar-left .filtet-top table thead .sorting:first-child {
    background-position-x: 30px;
}
.sidebar-left .filtet-top table thead th:last-child {
    padding: 30px 20px 30px 0px;
}
.sidebar-left .filtet-top table thead th:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid var(--color-border-line);
    width: 100%;
}
.sidebar-left .filtet-top table tbody tr {
    color: var(--secondary-color);
    border-bottom: unset;
}
.sidebar-left .filtet-top table td:last-child,
.sidebar-left .filtet-top table th:last-child {
    text-align: right;
}
.sidebar-left .filtet-top table tr td img {
    width: 23px;
    margin-right: 10px;
}
.sidebar-left .filtet-top table tbody tr {
    /* background-color: var(--bg-color-menu); */
    border-bottom: 15px solid #ffffff;
}
.sidebar-left .filtet-top table tbody tr td {
    padding: 0;
    font-weight: bold;
    border-top: unset;
    border-bottom: unset;
}
.sidebar-left .filtet-top table tbody tr td div {
    background-color: var(--bg-color-menu) ;
    padding: 15px 10px;
}
.sidebar-left .filtet-top table tbody tr.active td div {
    background-color: var(--bg-button-sell);
}
.sidebar-left .filtet-top table tbody tr td:first-child div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar-left .filtet-top table td:first-child div {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.sidebar-left .filtet-top table td:last-child div {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.dataTables_filter,
.dataTables_length,
.dataTables_paginate,
.dataTables_info {
    display: none;
}
/** End Sidebar Left */
/** Right Content */
.right-content .top .left {
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.right-content .top .left .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.right-content .top .left .top-header span.title {
    width: 50%;
}
.right-content .top .left .top-header .group-button-filter {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-content .top .left .top-header .group-button-filter button {
    width: 24%;
    padding: 5px 5px;
    /* border: 1px solid var(--bg-color-menu); */
    /* border-radius: 4px; */
    background-color: var(--bg-color-menu);
}
.right-content .top .left .top-header .group-button-filter button.active {
    background-color: var(--bg-color);
    /* border:1px solid var(--bg-color); */
}
.right-content .top .left .title-badge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-content .top .left .title-badge span {
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--bg-color-menu);
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--bg-color-menu);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-content .top .left .title-badge span.active {
    background-color: var(--bg-button-sell);
}
.right-content .top .right {
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.tab {
    display: flex;
    flex-direction: row;
}
.tab button {
    width: 100%;
    border: none;
    background-color: var(--bg-color-menu);
    color: var(--secondary-color);
    padding: 7px 0;
    border-top: 3px solid var(--bg-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid var(--color-border-line);
}
.tab button:focus {
    outline: none;
}
.tab button.active {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 7px 0;
    border-top: unset;
    border-bottom: unset;
}
.tabcontents {
    background-color: var(--secondary-color);
    padding: 10px;
}
.tabcontents .tabcontent:first-child {
    display: block;
}
.tabcontents .tabcontent {
    display: none;
}
.confirm-trade {
    width: 100%;
    background-color: var(--bg-button-confirm-trade);
    border: 1px solid var(--bg-button-confirm-trade);
    color: var(--secondary-color);
    border-radius: 4px;
    padding: 4px 0;
    text-transform: uppercase;
}
.tabcontent {
    color: var(--font-color);
}
.tabcontent .label {
    text-transform: uppercase;
}
.tabcontent .buy {
    margin-top: 15px;
    margin-bottom: 30px;
}
.tabcontent .buy,
.tabcontent .sell {
    width: 100%;
}
.tabcontent .buy .susdt,
.tabcontent .sell .susdt {
    display: flex;
    flex-direction: row;
}
.tabcontent .buy .susdt span,
.tabcontent .sell .susdt span {
    color: var(--secondary-color);
}
.tabcontent .buy .susdt .circle,
.tabcontent .sell .susdt .circle {
    height: 26px;
    width: 26px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin-right: 7px;
}
.tabcontent .buy .susdt .sus,
.tabcontent .sell .susdt .sus {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 36%;
    height: 100%;
    padding: 8px 0;
    padding-left: 7px;
}
.tabcontent .buy .label,
.tabcontent .sell .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabcontent .buy .color-susdt {
    background-color: var(--bg-button-buy-susdt);
}
.tabcontent .sell .color-susdt {
    background-color: var(--bg-balance);
}
.tabcontent .buy .balance,
.tabcontent .sell .balance {
    background-color: var(--bg-button-sell);
    width: 64%;
    height: 100%;
    padding: 9px 10px;
}
.tabcontent .table-percent {
    margin-bottom: 15px;
}
.tabcontent .table-percent .group-button-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabcontent .table-percent .group-button-filter button {
    width: 24%;
    padding: 3px 0;
    color: var(--secondary-color);
    background-color: var(--bg-color-menu);
    border: 1px solid var(--bg-color-menu);
    border-radius: 4px;
}

.tabcontent .table-percent table {
    width: 100%;
    margin-top: 10px;
}
.tabcontent .table-percent table tr td {
    text-transform: uppercase;
    font-size: 13px;
    width: 50%;
}
.tabcontent .table-percent table tr td:last-child {
    text-align: right;
}
/** End Right Content */
/* Button Change Mode */

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* End Button Change Mode */
/* Market Page */
 .body-market {
        height: 100vh;
    }
.market-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.group-filter-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.group-filter-search .group-button-filter {
    margin-bottom: 20px;
}
.group-filter-search .group-button-filter span {
    background-color: var(--bg-color-menu);
    border-radius: 4px;
    padding: 10px 8px;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.group-filter-search .group-button-filter span.active {
    background-color: var(--bg-button-sell);
}
.search-box {
    position: relative;
}
.search-box i {
    position: absolute;
    top: 50%;
    left: 6px;
    z-index: 1;
    transform: translateY(-50%);
    color: var(--font-color);
}
.search-box input {
    border-radius: 4px;
    border: 1px solid #707070;
    padding-left: 26px;
}
.table-market {
    padding: 10px;
    border-collapse: collapse;
    overflow-x: scroll;
    white-space: nowrap;
}
.table-market table {
    border-bottom: unset !important;
}
.table-market table thead th {
    background-color: var(--bg-tab-active-trade);
    font-size: 14px ;
    padding: 12px 10px;
}
.table-market table tbody tr td {
    font-size: 14px;
    border-bottom:unset;
    color: var(--font-color);
    padding: 12px 10px;
    border-top: 10px solid var(--bg-color) !important;
}
.table-market table thead tr {
    /* border-radius: 4px; */
    border-bottom: 10px solid var(--bg-color);
}
.table-market table tbody tr td:first-child div,
.table-market table thead th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.table-market table tbody tr td:last-child div,
.table-market table thead th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.table-market table .badge-green {
    background-color: var(--bg-badge-green);
    color: var(--secondary-color);
    padding: 2px 10px;
}
.table-market table .badge-red {
    background-color: var(--bg-badge-red);
    color: var(--secondary-color);
    padding: 2px 10px;
}
/* End Market Page */
.top-header span.title {
    color: var(--font-color);
}
.right-content .bottom {
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.right-content .bottom .tab {
    align-items: flex-end;
}
.right-content .bottom .tab button.active {
    background-color: var(--bg-empow);
    color: var(--secondary-color);
    height: 42px;
}
.right-content .bottom .tab button {
    border-right: 1px solid var(--color-border-line);
    border-left: 1px solid var(--color-border-line);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: unset;
    height: 36px;
}
.right-content .bottom .tab button:first-child {
    border-left: unset;
}
.right-content .bottom .tab button:last-child {
    border-right: unset;
}
.right-content .bottom .tabcontent-bottom {
    overflow-x: scroll;
    white-space: nowrap;
}
.right-content .bottom .tabcontent-bottom:first-child {
    display: block;
}
.right-content .bottom .tabcontent-bottom {
    display: none;
}
.right-content .bottom .tabcontent-bottom table thead th {
    background-color: var(--bg-empow);
    font-size: 14px;
    padding: 12px 10px;
}
.right-content .bottom .tabcontent-bottom table tr td {
    font-size: 14px;
    color: var(--font-color);
    background-color: var(--secondary-color);
}
.right-content .bottom .tabcontents {
    padding: 0;
}
.right-content .bottom .tabcontent-bottom table,
.right-content .bottom .tabcontent-bottom table tr td {
    border-bottom: unset;
}
/* Provide Page */
.provide-body {
    /* height: 100vh; */
}
.provide-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.provide-content .left-content {
    width: 100%;
}
.provide-content .sidebar-right {
    width: 100%;
}
.provide-content .sidebar-right .tabcontent {
    display: block;
}
.provide-content .header h2 {
    background-color: var(--bg-color-menu);
    padding: 8px;
    font-size: 18px;
}
.provide-content .sidebar-right .tabs {
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.provide-content .provide-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--secondary-color);
}
.provide-content .item-card {
    background-color: var(--bg-button-sell);
    border-radius: 4px;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 30px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.provide-content .item-card p {
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
}
.provide-content .left-content .provide-tabs {
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
}
.provide-content .left-content .tabs .tab {
    align-items: flex-end;
}
.provide-content .left-content .tabs .tab button {
    border-top: unset;
    height: 55px;
}
.provide-content .left-content .tabs .tab button.active {
    background-color: var(--bg-tab-active-trade);
    color: var(--secondary-color);
    height: 60px;
}
.provide-content .table-provide {
    margin-bottom: 30px;
}
.provide-content .left-content .tabs .tabcontents {
    background-color: var(--secondary-color);
}
.provide-content .table-provide .tabcontents {
    overflow-x: scroll;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.provide-content .table-provide table {
    border-bottom: unset !important;
}
.provide-content .table-provide table th, 
.provide-content .table-provide table tbody tr td { 
    border-bottom: unset;
    background-color: var(--secondary-color);
    color: var(--font-color);
}
.provide-content .table-provide table tbody tr td.sorting_1 {
    background-color: var(--secondary-color) !important;
}
.provide-content .table-provide .tabcontents .tabcontent-bottom:first-child {
    display: block;
}
.provide-content .table-provide .tabcontents .tabcontent-bottom {
    display: none;
}
/* End Provide Page */
@media screen and (min-width: 768px) {
    /** Right Content */
    .right-content .top .left .top-header .group-button-filter button {
        width: 19%;
        padding: 10px 5px;
        color: var(--secondary-color);
    }
    /** End Right Content */
    /* Market */
   
    .group-filter-search {   
        flex-direction: row;
        align-items: center;
        padding: 20px 10px;
    }
    .group-filter-search .group-button-filter {
        margin-bottom: 0;
    }
    /* End Market */
    /* Provide Page */
    .provide-content .item-card { 
        width: 24%;
    }
    .provide-content .table-provide .tabcontents {
        overflow-x: unset;
        white-space: unset; 
    }
    /* End Provide Page */
}
@media screen and (min-width: 992px) {
    .wrap-content {
        flex-direction: row;
    }
    /** Sidebar Left */
    .sidebar-left {
        width: 25%;
    }
    /** End Sidebar Left */
    /** Right Content */
    .right-content {
        width: 75%;
        padding: 10px 10px 10px 0;
    }
    .right-content .top {
        flex-direction: row;
    }
    .right-content .top .left {
        width: 60%;
    }
    .right-content .top .right {
        width: 39%;
    }
    .right-content .top .left .title-badge span {
        padding: 15px 5px;
    }
    /** End Right Content */
    /* Provide Page */
    .provide-content {
        flex-direction: row;
    }
    .provide-content .left-content {
        width: 70%;
    }
    .provide-content .sidebar-right {
        width: 29%;
    }
    /* End Privde Page */
}
@media screen and (min-width: 1024px) {
    /** Right Content */
    .right-content .top .left .title-badge {
        flex-direction: row;
        /* flex-wrap: ; */
    }
    .right-content .top .left .title-badge span {
        width: 20%;
        margin-right: 3px;
    }
    .right-content .top .left .top-header .group-button-filter {
        justify-content: flex-end;
    }
    .right-content .top .left .top-header .group-button-filter button {
        width: 16%;
        padding: 0px 5px;
        margin-right: 5px;
    }
    .right-content .top .right {
        margin-top: 0;
    }
    /** End Right Content */
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
    /** Right Content */
    .right-content .top .left {
        width: 69%;
    }
    .right-content .top .right {
        width: 30%;
    }
    .right-content .top .left .title-badge {
        /* flex-direction: column; */
        /* flex-wrap: ; */
    }
    .right-content .top .left .title-badge span {
        width: 19%;
        margin-right: 0;
    }

    /** End Right Content */
}
